// Styling for the event section
.education-page-paragraph-contents {
  padding: 0 15px;
}

.education {
  margin-bottom: 40px;
  .education-image {
    max-width: 600px;
    margin: 0 auto 20px auto;
  }
}
