// Styling for the navbar
.navbar-root {
  background-color: $secondary;

  .container {
    max-width: 1325px;
  }
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white !important;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary !important;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }

    .navbar-brand-icon {
      min-width: 180px;
    }
  }
}
@media (min-width: 375px) {
  .navbar-root .navbar-brand .navbar-brand-icon {
    min-width: 200px;
  }
}
@media (min-width: 992px) {
  .navbar-root {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: rgba($secondary, 0.6);
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      .navbar-brand-icon {
        min-width: 250px;
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $secondary;
      .navbar-brand {
        font-size: 1.75em;
        padding: 10px 0;
      }
    }
  }
}
