.circle-fa-button-container {
  min-height: 146px;

  .circle-fa-button {
    width: 128px;
    height: 128px;
    color: white;
    background-color: $primary;
    border-radius: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    position: relative;
    justify-content: center;
    top: 7px;
    transition: width 0.35s, height 0.35s, top 0.35s, background-color 0.35s;
    transition-timing-function: cubic-bezier(0.54, 0.86, 0.38, 1.48);

    &:hover {
      background-color: $secondary;
      width: 142px;
      height: 142px;
      top: 0px;

      .circle-fa-button-icon {
        font-size: 5.5em;
        transition: font-size 0.35s;
        transition-timing-function: cubic-bezier(0.54, 0.86, 0.38, 1.48);
      }
    }

    .circle-fa-button-icon {
      font-size: 4em;
      transition: font-size 0.35s;
      transition-timing-function: cubic-bezier(0.54, 0.86, 0.38, 1.48);
    }
  }
}
