.timeline-item {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
  &:after,
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
    &:before {
      right: auto;
      left: -15px;
      border-right-width: 15px;
      border-left-width: 0;
    }
    &:after {
      right: auto;
      left: -14px;
      border-right-width: 14px;
      border-left-width: 0;
    }
  }
  .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid $gray-200;
    border-radius: 100%;
    background-color: $primary;
    h4 {
      font-size: 10px;
      line-height: 14px;
      margin-top: 12px;
    }
  }
  &.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
    &:before {
      right: auto;
      left: -15px;
      border-right-width: 15px;
      border-left-width: 0;
    }
    &:after {
      right: auto;
      left: -14px;
      border-right-width: 14px;
      border-left-width: 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.timeline-heading {
  h4 {
    margin-top: 0;
    color: inherit;
    &.subheading {
      text-transform: none;
    }
  }
}
.timeline-body {
  > ul,
  > p {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .timeline-item {
    min-height: 220px;
    margin-bottom: 100px;
    .timeline-panel {
      float: left;
      width: 55%;
      padding: 0 20px 20px 30px;
      text-align: right;
      right: 40px;
      top: 30px;
    }
    .timeline-image {
      left: 50%;
      width: 300px;
      height: 300px;
      margin-left: -2px;
      h4 {
        font-size: 34px;
        line-height: 40px;
        margin-top: 50px;
      }
    }
    &.timeline-inverted > .timeline-image {
      margin-left: -300px;
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
      right: -40px;
    }
    &:last-child >.timeline-image {
      width: 240px;
      height: 240px;
      margin-left: -120px;
    }
  }
}
@media (min-width: 992px) {
  .timeline-item {
    min-height: 200px;
    .timeline-panel {
      padding: 0 50px 0 0;
      right: 0;
      top: 20px;
      width: 41%;
    }
    .timeline-image {
      width: 240px;
      height: 240px;
      margin-left: -120px;
      right: 0;
      h4 {
        font-size: 34px;
        line-height: 40px;
        margin-top: 50px;
      }
    }
    &.timeline-inverted > .timeline-image {
      margin-left: -120px;
      right: 0;
    }
    &.timeline-inverted > .timeline-panel {
      padding: 0 0 0 50px;
      right: 0;
    }
  }
}
@media (min-width: 1200px) {
  .timeline-item {
    min-height: 240px;
    .timeline-panel {
      padding: 0 80px 20px 0;
      margin-top: 40px;
    }
    .timeline-image {
      width: 300px;
      height: 300px;
      margin-left: -150px;
      h4 {
        margin-top: 40px;
      }
    }
    &.timeline-inverted > .timeline-panel {
      padding: 0 0 20px 80px;
    }
    &.timeline-inverted > .timeline-image {
      margin-left: -150px;
      right: 0;
    }
    &:last-child >.timeline-image {
      width: 240px;
      height: 240px;
      margin-left: -120px;
    }
  }
}
